<form [formGroup]='loginForm' (ngSubmit)='validate()'>

    <ng-container *ngFor='let eachConfig of formConfig'>

        <div class='form-group'>
            <label>{{eachConfig.label}}</label>
            <input type={{eachConfig.type}} name={{eachConfig.name}} formControlName={{eachConfig.name}} class='form-control'>
        </div>
    </ng-container>
    <div *ngIf='loginForm.invalid && ( loginForm.dirty || loginForm.touched)'>User Name or pass word required</div>

    <input type="submit" value="Signin" class='btn btn-info' [disabled]='loginForm.invalid'>

</form>

<span style='color:red'>{{errorMessage}}</span>