<div class='col-md-4' *ngIf='toggleForm'>
    <form #f='ngForm' (ngSubmit)="submit(f.value)" ngNativeValidate>
        <div class='form-group'>
            <label for="id">Id</label>
            <input type="text" name='id' [(ngModel)]='policyData.id' class='form-control'>
        </div>
        <div class='form-group'>
            <label for="policyHolderName">Policy Holder Name</label>
            <input type="text" name='policyHolderName' [(ngModel)]='policyData.policyHolderName' class='form-control' required>
        </div>
        <div class='form-group'>
            <label for="policyAmount">Policy Amount</label>
            <input type="text" name='policyAmount' [(ngModel)]='policyData.policyAmount' class='form-control'>
        </div>
        <div class='form-group'>
            <label for="maturityDates">Maturity Date</label>
            <input type="date" name='maturityDate' [(ngModel)]='policyData.maturityDate' class='form-control'>
        </div>
        <div class='form-group'>
            <input type="submit" [value]='buttonText' class='btn btn-info'>
        </div>
    </form>
</div>
<table class='table table-bordered table-striped'>
    <tr>
        <td><label>Enter the Policy Holder Name </label></td>
        <td><input [(ngModel)]='srchName'><span class='fa fa-search'></span></td>
        <td colspan='3'><button (click)='showForm()' [ngClass]="{'fa fa-2x':true,'fa-toggle-up':showUp,'fa-toggle-down':showDown}"></button></td>
    </tr>
    <tr>
        <th>ID</th>
        <th>Policy Holder Name</th>
        <th>Policy Amount</th>
        <th>Maturity Date</th>
    </tr>
    <tr *ngFor="let eachPolicy of policyList | filter:'policyHolderName':srchName| paginate:{itemsPerPage:6,currentPage:page}">
        <td>{{eachPolicy.id}}</td>
        <td>{{eachPolicy.policyHolderName |uppercase}}</td>
        <td>{{eachPolicy.policyAmount | currency :'INR':'symbol'}}</td>
        <td>{{eachPolicy.maturityDate | date :'short'}}</td>
        <td><button class='fa fa-2x fa-edit' (click)="update(eachPolicy)"></button></td>
        <td><button class='fa fa-2x fa-remove' (click)="remove(eachPolicy)"></button></td>
    </tr>
</table>

<pagination-controls (pageChange)='page=$event'></pagination-controls>